<header>

  <div class="register-text">
    <h4>CADASTRE-SE</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  </div>

  <div class="container one">
    <div class="inline-form">
      <input type="text" placeholder="Nome" class="name">
    </div>
    <div class="inline-form">
      <input type="text" placeholder="Sobrenome" class="lastname">
    </div>
    <div class="inline-form">
      <input type="text" placeholder="Participação" class="holder">
    </div>
    <div class="inline-form">
      <button id="send-button">ENVIAR</button>
    </div>
  </div>

</header>

<section>
  <div class="data-text">
    <h4>DADOS</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div class="container">
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Berglunds snabbköp</td>
        <td>Christina Berglund</td>
        <td>Sweden</td>
      </tr>
    </table>
  </div>

</section>
